@charset "utf-8";
/* CSS Document */

/* Smartphones (portrait and landscape) ----------
@media only screen and (max-device-width: 480px) {
	/* Styles */
	#left-or-top {float:none; clear: both;}
	#right-or-bottom {float:none; clear:both;}
	#form {width: 100%; padding:0; margin:0;}
	#big_gray {width:96%;}
	#nav {color: #045A9F;}
	ul label {background-color: #4089C4;}
	#big_gray.welcome {width:300px; margin-top:1em; padding:10px;}
h1 {
	font-size: 30px;
	line-height: 30px;
	margin-top: 5px;
}
h2 {
font-weight: 300;
line-height: 24px;
margin: 0;
font-size: 24px;
}
h3 {
font-size: 18px;
font-weight: 200;
line-height: 24px;
margin: 0;
padding-bottom: 5px;
}
p {font-size: 14px;
line-height: 24px;}